/*Responsive POPOS LIST*/
* {
  box-sizing: border-box;
}
.responsive {
  padding: 1% 3%;
  float: left;
  width: 33%;
}

.card-title {
  min-height: 4.8rem;
}
.card-description {
  min-height: 5.4rem;
}
@media only screen and (max-width: 1334px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
  .card-title {
    min-height: 4.9rem;
  }
  .card-description {
    min-height: 5.4rem;
  }
}

@media only screen and (max-width: 820px) {
  .responsive {
    width: 100%;
  }
}

.card {
  transition: all 0.5s ease 0s;
  border-radius: 18px;
  width: 100%;
  grid-template-areas: "image" "text";
  overflow: hidden;
  background: #fcfffd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover,
.card:active {
  transform: translateY(7px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-img-top {
  grid-area: image;
  cursor: pointer;
}

.card-img-top {
  max-width: 100%;
  display: block;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.card-body {
  grid-area: text;
}
/*----*/
.card figure {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.responsive figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.8;
}

.card figure figcaption::before,
.card figure figcaption::after {
  pointer-events: none;
}

.card figure figcaption,
.card figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*---*/

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.card figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.card figure h2 span {
  font-weight: bold;
}
.card figure h2,
.card figure p {
  margin: 0;
}

.card figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */

/*ming effect*/

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
  background: #030c17e0;
}

figure.effect-ming img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-ming .description::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 15px;
  border: 2px solid #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  -webkit-transform: scale3d(1.4, 1.4, 10);
  transform: scale3d(1.4, 1.4, 10);
}

figure.effect-ming:hover .description::before,
figure.effect-ming:hover .description,
figure.effect-ming:active .description::before,
figure.effect-ming:active .description {
  opacity: 0.8;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

figure.effect-ming:hover img,
figure.effect-ming:active img {
  opacity: 0.6;
}

/*ming effect*/
/***** Zoe *****/

figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: #fff;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h2 {
  float: left;
}

figure.effect-zoe p.icon-links {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus,
figure.effect-zoe:active p.icon-links a:active,
figure.effect-zoe:active p.icon-links a:focus {
  color: #252d31;
}

figure.effect-zoe p.description {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  bottom: 8em;
  padding: 2em;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: "feathericons";
  speak-as: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover p.description,
figure.effect-zoe:active p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links,
figure.effect-zoe:active figcaption,
figure.effect-zoe:active h2,
figure.effect-zoe:active p.icon-links {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2,
figure.effect-zoe:active h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links,
figure.effect-zoe:active p.icon-links {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/*end zoe image effect*/

/* Shine */
.responsive figure {
  position: relative;
}
.responsive figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.responsive figure:hover::before,
.responsive figure:active::before {
  -webkit-animation: shine 0.5s;
  animation: shine 0.5s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* end  Shine  */

.card-title {
  margin-top: 0px;
  font-size: 2em;
}

.card-description {
  margin-top: 20px;
  color: grey;
  font-weight: 300;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
}
