.card {
  transition: all 0.5s ease 0s;
  border-radius: 18px;
  width: 100%;
  grid-template-areas: "image" "text";
  overflow: hidden;
  background: #fcfffd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
  transform: translateY(7px);
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card-img-top {
  grid-area: image;
}

.card-img-top {
  max-width: 100%;
  transition: all 0.5s ease 0s;
  display: block;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform: scale(1);
}
.card-img-top:hover {
  transform: scale(1.03);
}

.card-body {
  grid-area: text;
  min-height: 200px;
}

/* Shine */
.responsive figure {
  position: relative;
}
.responsive figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.responsive figure:hover::before {
  -webkit-animation: shine 0.5s;
  animation: shine 0.5s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* end  Shine  */

.card-title {
  margin-top: 0px;
  font-size: 2em;
}

.card-description {
  color: grey;
  font-weight: 300;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*view more link*/
.more {
  color: #0d6efd;
  text-decoration: none;
}

.more:hover {
  color: #99aba1;
  text-decoration: #99aba1 wavy underline;
}
.more:active,
.more:focus {
  color: red;
}

/*Responsive POPOS LIST*/
* {
  box-sizing: border-box;
}
.responsive {
  padding: 1% 3%;
  float: left;
  width: 33%;
}

@media only screen and (max-width: 1300px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}
