.card {
  border-radius: 18px;
  width: 100%;
  grid-template-areas: "image" "text";
  background: #fcfffd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
  transition: all 0.5s ease 0s;
  transform: translateY(-7px);
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  grid-area: image;
}
.card-body {
  grid-area: text;
}

.card-img-top {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  width: 100%;
}

.card-body {
  grid-area: text;
  margin: 20px;
}

.card-text {
  color: grey;
  font-size: 15px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card-title {
  margin-top: 0px;
  font-size: 28px;
}

/*Responsive POPOS LIST*/
.more {
  color: #0d6efd;
  text-decoration: none;
}

.more:hover {
  color: #99aba1;
  text-decoration: #99aba1 wavy underline;
}
.more:active,
.more:focus {
  color: red;
}

/*Responsive POPOS LIST*/
* {
  box-sizing: border-box;
}
.responsive {
  padding: 1% 5%;
  float: left;
  width: 33%;
}

@media only screen and (max-width: 1300px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}
