.highlight-section {
  background-color: #a0b3a8d5;
}
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
